Codes/Nodered_codesforRBP.txt
[{"id":"996cf98.4686a08","type":"wiotp out","z":"be7874d4.eaf058","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"fbf711fa.25e5d","deviceType":"gw-SLEEPDEEP","deviceId":"gwid-SLEEPDEEP","event":"values","format":"json","qos":"2","name":"My Raspberry Pi Gateway","x":1017.1002426147461,"y":609,"wires":[]},{"id":"af75e708.ce3968","type":"json","z":"be7874d4.eaf058","name":"","x":806.100170135498,"y":655.7999649047852,"wires":[["996cf98.4686a08"]]},{"id":"2d099ae7.0cf0b6","type":"rpi-gpio in","z":"be7874d4.eaf058","name":"PIR SENSOR","pin":"38","intype":"tri","debounce":"3000","read":false,"x":75,"y":635.2000255584717,"wires":[["46758900.5c6788"]]},{"id":"fa8126f4.6174a8","type":"function","z":"be7874d4.eaf058","name":"send temp and motion","func":"refresh=global.get('refresh')\nrefresh=parseInt(refresh)\nmotion = global.get('count')\nmotion=parseInt(motion)\ntemp = global.get('temp')\ntemp = parseInt(temp)\n\n  msg.payload = {'parenttemp':temp,\n'parentmotion':motion}\n\n\nglobal.set('refresh',1)\nreturn msg;","outputs":1,"noerr":0,"x":717.5,"y":523.7999048233032,"wires":[["af75e708.ce3968","9b9d121e.2e646"]]},{"id":"bc372dd8.73f6","type":"trigger","z":"be7874d4.eaf058","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"10","extend":false,"units":"min","reset":"","name":"","x":472.90008544921875,"y":508.199951171875,"wires":[["fa8126f4.6174a8"]]},{"id":"46758900.5c6788","type":"function","z":"be7874d4.eaf058","name":"store motion values","func":"var count=global.get('count') || 0;\nvar refresh=global.get('refresh') || 0;\nif(refresh ==1){\n    count=0\n    refresh =0\n}\nif (refresh===0 && msg.payload==1){\ncount +=1;\nmsg.payload=\"motion detected count is now \"+count;\nglobal.set('count',count);\nglobal.set('refresh',refresh);\n}else{\nmsg.payload=\"motion not detected\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":281.9000549316406,"y":631.1999597549438,"wires":[["bc372dd8.73f6"]]},{"id":"9b9d121e.2e646","type":"debug","z":"be7874d4.eaf058","name":"","active":true,"console":"false","complete":"payload","x":951.0000991821289,"y":524.4000024795532,"wires":[]},{"id":"5f52c45a.e94cec","type":"wiotp in","z":"be7874d4.eaf058","authType":"g","deviceKey":"f6b1c83a.3ecd88","deviceType":"","deviceId":"","command":"stopstartparentled","commandType":"g","qos":"1","name":"Stop/Start","x":124,"y":853,"wires":[["26f388c4.9b3dc8","e9a497ee.1f8d88"]]},{"id":"26f388c4.9b3dc8","type":"function","z":"be7874d4.eaf058","name":"trigger led","func":"if (msg.payload.startparent === 'on' ){\n    msg.payload = 1\n}\nelse{\n    msg.payload = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":503.0000534057617,"y":849.3334426879883,"wires":[["81b2596e.8328d8"]]},{"id":"81b2596e.8328d8","type":"rpi-gpio out","z":"be7874d4.eaf058","name":"LEDP","pin":"16","set":"","level":"0","out":"out","x":742.1001663208008,"y":847.0671672821045,"wires":[]},{"id":"e9a497ee.1f8d88","type":"debug","z":"be7874d4.eaf058","name":"","active":true,"console":"false","complete":"payload","x":367.00001525878906,"y":923.0000400543213,"wires":[]},{"id":"2104dd03.484962","type":"rpi-gpio out","z":"be7874d4.eaf058","name":"LEDB","pin":"12","set":"","level":"0","out":"out","x":742.1001586914062,"y":775.6667261123657,"wires":[]},{"id":"f02f6b2.2027898","type":"function","z":"be7874d4.eaf058","name":"trigger led","func":"if (msg.payload.startbaby === 'on' ){\n    msg.payload = 1\n}\nelse{\n    msg.payload = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":498.00008392333984,"y":775.9330024719238,"wires":[["2104dd03.484962"]]},{"id":"7d6c70ed.54a9d","type":"wiotp in","z":"be7874d4.eaf058","authType":"g","deviceKey":"f6b1c83a.3ecd88","deviceType":"","deviceId":"","command":"stopstartbabyled","commandType":"g","qos":"1","name":"Stop/Start","x":129.00000762939453,"y":781.5995388031006,"wires":[["f02f6b2.2027898","e9a497ee.1f8d88"]]},{"id":"a19847c2.ae5e98","type":"inject","z":"be7874d4.eaf058","name":"send temp value to bluemix","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":150.9998664855957,"y":305.400013923645,"wires":[["1050dc5b.0e6e84"]]},{"id":"2f01ffae.b2961","type":"function","z":"be7874d4.eaf058","name":"store temp values","func":"global.set('temp',msg.payload)\n\n","outputs":1,"noerr":0,"x":518.9998779296875,"y":295.4000244140625,"wires":[[]]},{"id":"1050dc5b.0e6e84","type":"rpi-dht22","z":"be7874d4.eaf058","name":"dht11","topic":"temp","dht":"11","pintype":"0","pin":4,"x":327.9998779296875,"y":380.8000183105469,"wires":[["2f01ffae.b2961","bc372dd8.73f6"]]},{"id":"fbf711fa.25e5d","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"08477q","serverName":"08477q.messaging.internetofthings.ibmcloud.com","devType":"gw-SLEEPDEEP","devId":"gwid-SLEEPDEEP","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"f6b1c83a.3ecd88","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"08477q","serverName":"08477q.messaging.internetofthings.ibmcloud.com","devType":"led-SLEEPDEEP","devId":"ledid-SLEEPDEEP","keepalive":"60","cleansession":true,"tls":"","usetls":false}]