Codes/Nodered_codesforIBM
[{"id":"e2d07539.afb8c8","type":"http in","z":"deb0d57.1c46528","name":"Turn off LED","url":"room/parent/led/offlight","method":"get","upload":false,"swaggerDoc":"","x":1330,"y":280,"wires":[["74ed5541.b9cf2c"]]},{"id":"74ed5541.b9cf2c","type":"function","z":"deb0d57.1c46528","name":"Send Command to Off LED","func":"global.set('ledparent','off')\nmsg.payload = {'stopparent': 'off'}\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":280,"wires":[["a05c8b3.727cb78","4c53a8b2.3b68e8","c998338e.cae5a"]]},{"id":"2023bf20.b58a6","type":"http response","z":"deb0d57.1c46528","name":"Off LED in parentroom","statusCode":"","headers":{},"x":1619.0000305175781,"y":344.0000009536743,"wires":[]},{"id":"a05c8b3.727cb78","type":"template","z":"deb0d57.1c46528","name":"Status of LED","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!-- CSS -->\n<link rel=\"stylesheet\" href=\"../../../css/style.css\" />\n<link rel=\"stylesheet\" href=\"../../../css/style-xlarge.css\" />\n\n<center>\n<div>LED has been turned {{payload.stopparent}}</div>\n<div><a href='/'>Go back</div>\n</center>","output":"str","x":1397.000015258789,"y":344.0000009536743,"wires":[["2023bf20.b58a6"]]},{"id":"c29d1e43.2049","type":"http in","z":"deb0d57.1c46528","name":"Turn off LED","url":"room/baby/led/offlight","method":"get","upload":false,"swaggerDoc":"","x":1339.0000076293945,"y":439.00000286102295,"wires":[["166c6b3a.465395"]]},{"id":"166c6b3a.465395","type":"function","z":"deb0d57.1c46528","name":"Send Command to Off LED","func":"global.set('ledbaby','off')\nmsg.payload = {'stopbaby': 'off'}\nreturn msg;","outputs":1,"noerr":0,"x":1567.000015258789,"y":437.9999532699585,"wires":[["b923a52e.9ed3e8","1d9abdc6.c36142","73161116.b0bec"]]},{"id":"7c8f6c08.b3f3b4","type":"http response","z":"deb0d57.1c46528","name":"Off LED in babyroom","statusCode":"","headers":{},"x":1612.0000305175781,"y":507.00000286102295,"wires":[]},{"id":"b923a52e.9ed3e8","type":"template","z":"deb0d57.1c46528","name":"Status of LED","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!-- CSS -->\n<link rel=\"stylesheet\" href=\"../../../css/style.css\" />\n<link rel=\"stylesheet\" href=\"../../../css/style-xlarge.css\" />\n\n<center>\n<div>LED has been turned {{payload.stopbaby}}</div>\n<div><a href='/'>Go back</div>\n</center>","output":"str","x":1392.0000076293945,"y":511.00000286102295,"wires":[["7c8f6c08.b3f3b4"]]},{"id":"5c68f6c5.daeed8","type":"http response","z":"deb0d57.1c46528","name":"On LED in parentroom","statusCode":"","headers":{},"x":1621.0000305175781,"y":206.99999904632568,"wires":[]},{"id":"74cb2e5c.8be04","type":"template","z":"deb0d57.1c46528","name":"Status of LED","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!-- CSS -->\n<link rel=\"stylesheet\" href=\"../../../css/style.css\" />\n<link rel=\"stylesheet\" href=\"../../../css/style-xlarge.css\" />\n\n<center>\n<div>LED has been turned {{payload.startparent}}</div>\n<div><a href='/'>Go back</div>\n</center>","output":"str","x":1402.0000076293945,"y":206.99999904632568,"wires":[["5c68f6c5.daeed8"]]},{"id":"a06d1a0b.ff1598","type":"function","z":"deb0d57.1c46528","name":"Send Command to On LED","func":"global.set('ledparent','on')\nmsg.payload = {'startparent': 'on'}\nreturn msg;","outputs":1,"noerr":0,"x":1601.000015258789,"y":127.99999904632568,"wires":[["74cb2e5c.8be04","c998338e.cae5a","4c53a8b2.3b68e8"]]},{"id":"5da2be21.3c70f","type":"http in","z":"deb0d57.1c46528","name":"Turn on LED","url":"room/parent/led/onlight","method":"get","upload":false,"swaggerDoc":"","x":1355,"y":128.99999809265137,"wires":[["a06d1a0b.ff1598"]]},{"id":"8df38a5f.2117d8","type":"http response","z":"deb0d57.1c46528","name":"On LED in babyroom","statusCode":"","headers":{},"x":1599.0000305175781,"y":671.9999704360962,"wires":[]},{"id":"2a02e1e7.968a6e","type":"template","z":"deb0d57.1c46528","name":"Status of LED","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!-- CSS -->\n<link rel=\"stylesheet\" href=\"../../../css/style.css\" />\n<link rel=\"stylesheet\" href=\"../../../css/style-xlarge.css\" />\n\n<center>\n<div>LED has been turned {{payload.startbaby}}</div>\n<div><a href='/'>Go back</div>\n</center>\n","output":"str","x":1378.000015258789,"y":671.0000066757202,"wires":[["8df38a5f.2117d8"]]},{"id":"5b656068.22781","type":"function","z":"deb0d57.1c46528","name":"Send Command to On LED","func":"global.set('ledbaby','on')\nmsg.payload = {'startbaby': 'on'}\nreturn msg;","outputs":1,"noerr":0,"x":1580.0000076293945,"y":593.9999685287476,"wires":[["2a02e1e7.968a6e","1d9abdc6.c36142","73161116.b0bec"]]},{"id":"7ef6d24e.d2481c","type":"http in","z":"deb0d57.1c46528","name":"Turn on LED","url":"room/baby/led/onlight","method":"get","upload":false,"swaggerDoc":"","x":1333,"y":593.9999694824219,"wires":[["5b656068.22781"]]},{"id":"1d9abdc6.c36142","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"ledid-SLEEPDEEP","deviceType":"led-SLEEPDEEP","eventCommandType":"stopstartbabyled","format":"json","data":"{}","qos":"1","name":"My Raspberry Pi Gateway","service":"registered","x":1923.0000228881836,"y":532.6000051498413,"wires":[]},{"id":"2c54db68.4835f4","type":"template","z":"deb0d57.1c46528","name":"Page Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n\n<html>\n  <head>\n    <title>Sleepdeep</title>\n    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n    <meta name=\"description\" content=\"\" />\n    <meta name=\"keywords\" content=\"\" />\n      \n      <!-- CSS -->\n\t\t<link rel=\"stylesheet\" href=\"../../css/style.css\" />\n\t\t<link rel=\"stylesheet\" href=\"../../css/style-xlarge.css\" />\n\t\t\n\t\t<!-- JS -->\n\t\t<script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.js\"></script>\n\t\t<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n\t\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js\"></script>\n\n    </head>\n\n  <body class=\"landing\">\n    \n\n\n\n         <section class=\"wrapper style1\">\n                <div class=\"container\">\n                  <header class=\"major\">\n                    <h2>Parent's Night Light</h2>\n                    <p>Simply click onto the respective buttons to control the night light\n                    in your room </p>\n                  </header>\n                  <center>\n                    <p>LED Status</p>\n                   <img src=\"{{payloadparent.ledparent}}\" >\n                    \n                    \n                    <br><br>    \n                      <a href=\"/room/parent/led/onlight\" id=\"b1\"class=\"button special\" >Turn on</a>\n                      <a href=\"/room/parent/led/offlight\" id=\"b2\" class=\"button special\">Turn off</a>\n                  </center>\n                </div>\n              </section>\n\n            <!-- Footer -->\n        <footer id=\"footer\">\n          <span class=\"copyright\">\n            &copy; Copyright. All rights reserved. Design by <a href=\"http://www.html5webtemplates.co.uk\">Responsive Web Templates</a>\n          </span>\n        </footer>\n\n    </body>\n\n    \n</html>\n","output":"str","x":870,"y":620,"wires":[["23826a9a.220526"]]},{"id":"6cd0766e.3f5688","type":"http in","z":"deb0d57.1c46528","name":"parentroomled","url":"/room/parent/led","method":"get","upload":false,"swaggerDoc":"","x":404.9999542236328,"y":618.9999027252197,"wires":[["3bbdd1ad.72ea4e"]]},{"id":"3bbdd1ad.72ea4e","type":"function","z":"deb0d57.1c46528","name":"Send LED status","func":"led = global.get('ledparent');\nif (led === 'on') {\n    msg.payloadparent = {'ledparent': '../../images/ledon.png'};\n}\nelse {\n    msg.payloadparent = {'ledparent': '../../images/ledoff.png'};\n}\nreturn msg;","outputs":1,"noerr":0,"x":659,"y":619.9997081756592,"wires":[["2c54db68.4835f4"]]},{"id":"23826a9a.220526","type":"http response","z":"deb0d57.1c46528","name":"parentroom","statusCode":"","headers":{},"x":1070.9999542236328,"y":618.9999027252197,"wires":[]},{"id":"cf5d93a9.de5bd","type":"http in","z":"deb0d57.1c46528","name":"babyroomled","url":"/room/baby/led","method":"get","upload":false,"swaggerDoc":"","x":408.00000762939453,"y":706.9998064041138,"wires":[["c3b4fb08.099ef8"]]},{"id":"321da2f4.2e8cae","type":"template","z":"deb0d57.1c46528","name":"Page Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n\n<html>\n  <head>\n    <title>SleepDeep</title>\n    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n    <meta name=\"description\" content=\"\" />\n    <meta name=\"keywords\" content=\"\" />\n      \n      <!-- CSS -->\n\t\t<link rel=\"stylesheet\" href=\"../../css/style.css\" />\n\t\t<link rel=\"stylesheet\" href=\"../../css/style-xlarge.css\" />\n\t\t\n\t\t<!-- JS -->\n\t\t<script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.js\"></script>\n\t\t<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n\t\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js\"></script>\n\n    </head>\n\n  <body class=\"landing\">\n\n\n         <section class=\"wrapper style1\">\n                <div class=\"container\">\n                  <header class=\"major\">\n                    <h2>Baby's Night Light</h2>\n                    <p>Simply click onto the respective buttons to control the night light\n                    in your room </p>\n                  </header>\n                  <center>\n                    <p>LED Status</p>\n                   <img src=\"{{payloadbaby.ledbaby}}\" >\n                    \n                    \n                    <br><br>    \n                      <a href=\"/room/baby/led/onlight\" id=\"b1\"class=\"button special\" >Turn on</a>\n                      <a href=\"/room/baby/led/offlight\" id=\"b2\" class=\"button special\">Turn off</a>\n                  </center>\n                </div>\n              </section>\n\n            <!-- Footer -->\n        <footer id=\"footer\">\n          <span class=\"copyright\">\n            &copy; Copyright. All rights reserved. Design by <a href=\"http://www.html5webtemplates.co.uk\">Responsive Web Templates</a>\n          </span>\n        </footer>\n\n    </body>\n\n</html>\n","output":"str","x":868.9999542236328,"y":702.9998054504395,"wires":[["7f6bf4ac.9d243c"]]},{"id":"7f6bf4ac.9d243c","type":"http response","z":"deb0d57.1c46528","name":"babyroom","statusCode":"","headers":{},"x":1066.9999542236328,"y":700.9998054504395,"wires":[]},{"id":"c3b4fb08.099ef8","type":"function","z":"deb0d57.1c46528","name":"Send LED status","func":"led = global.get('ledbaby');\nif (led === 'on') {\n    msg.payloadbaby = {'ledbaby': '../../images/ledon.png'};\n}\nelse {\n    msg.payloadbaby = {'ledbaby': '../../images/ledoff.png'};\n}\nreturn msg;","outputs":1,"noerr":0,"x":653.0000228881836,"y":704.9998054504395,"wires":[["321da2f4.2e8cae"]]},{"id":"b0e9d926.ccbd48","type":"function","z":"deb0d57.1c46528","name":"set msg payload","func":"parenttemp = global.get('parenttemp');\nbabytemp = global.get('babytemp');\nbabystatus = global.get('babystatus');\nif (parenttemp !== null){\nmsg.payloadparentt= {'parenttemp':parenttemp}\n}\nif (babytemp !== null){\nmsg.payloadbabyt = {'babytemp':babytemp}\n}\n\nif (babystatus === 'awake') {\n    msg.payloadbabys = {'owlpic': 'images/awake.png',\n    'babystatus': 'Awake'};\n    \n}\nelse {\n    msg.payloadbabys = {'owlpic': 'images/asleep.png',\n    'babystatus': 'Asleep'};\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":877.9999694824219,"y":454.6668863296509,"wires":[["dbe04a02.ad8da8"]]},{"id":"898cc9de.acd408","type":"http response","z":"deb0d57.1c46528","name":"home page","statusCode":"","headers":{},"x":1094.9999771118164,"y":513.6669855117798,"wires":[]},{"id":"dbe04a02.ad8da8","type":"template","z":"deb0d57.1c46528","name":"homepage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<!DOCTYPE HTML>\n\n<html>\n\t<head>\n\t\t<title>SleepDeep</title>\n\t\t<meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n\t\t<meta name=\"description\" content=\"\" />\n\t\t<meta name=\"keywords\" content=\"\" />\n\t    \n\t    <!-- CSS -->\n\t\t<link rel=\"stylesheet\" href=\"css/style.css\" />\n\t\t<link rel=\"stylesheet\" href=\"css/style-xlarge.css\" />\n\t\t\n\t\t<!-- JS -->\n\t\t<script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.js\"></script>\n\t\t<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n\t\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js\"></script>\n\t\n\t\n</head>\n\t<body class=\"landing\">\n\n\t\t<!-- Banner -->\n\t\t\t<section id=\"banner\">\n\t\t\t\t<div class=\"inner\">\n\t\t\t\t\t<h2>Welcome to SleepDeep</h2>\n\t\t\n\t\t\t\t\t<ul class=\"actions\">\n\t\t\t\t\t\t<li><a href=\"#one\" class=\"button big scrolly\">Get Started</a></li>\n\t\t\t\t\t</ul>\n\t\t\t\t</div>\n\t\t\t</section>\n\n\t\t<!-- Purpose -->\n\t\t\t<section id=\"one\" class=\"wrapper style1\">\n\t\t\t\t<div class=\"container\">\n\t\t\t\t\t<header class=\"major\">\n\t\t\t\t\t\t<h2>Purpose</h2>\n\t\t\t\t\t\t<p>To learn and observe the sleeping patterns based on the room temperature. Motion\n\t\t\t\t\t\tand temperature statistics is given in this webpage to distinguish which temperature is most optimal \n\t\t\t\t\t\tfor you or your baby to have a good night's sleep.</p>\n\t\t\t\t\t</header>\n\t\t\t\t\t<div class=\"slider\">\n\t\t\t\t\t\t<div class=\"viewer\">\n\t\t\t\t\t\t\t<div class=\"reel\">\n\t\t\t\t\t\t\t\t<div class=\"slide\">\n\t\t\t\t\t\t\t\t\t<img src=\"images/slpbaby1.jpg\" alt=\"\" />\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t\t\n\t\t\n\t\t\t\n\t\t<!-- Real time Graph -->\n\t\t\t<section class=\"wrapper style1\">\n\t\t\t\t<div class=\"container\">\n\t\t\t\t\t<header class=\"major\">\n\t\t\t\t\t\t<h2>Temperature and Motion Graph</h2>\n\t\t\t\t\t\t<p>Diagram below shows the relationship of how temperature affects the baby by plotting\n\t\t\t\t\t\tdown the number of motions detected within 10mins along with the temperature during the duration</p>\n\t\t\t\t\t</header>\n\t\t\t\t\t<!-- go to link -->\n\t\t\t\t\t<center>\n\t\t\t\t\t<a href =\"https://sddemo1.mybluemix.net/ui/#/0\">See real time graph</a><br>\n\t\t\t\t\t<a href =\"https://sekwlg.internetofthings.ibmcloud.com/#/boards/e73595ad-d575-4c62-9adc-64d6bdd2819b\">See historical graph</a>\n\t\t\t\t\t</center>\n\t\t\t</section>\n\t\t\t\n\t  <!-- Light switch -->\n\t        <section class=\"wrapper style1\">\n\t\t\t\t<div class=\"container\">\n\t\t\t\t\t<header class=\"major\">\n\t\t\t\t\t\t<h2> Night Light Control Page</h2>\n\t\t\t\t\t\t<p>Simply click onto the respective buttons to control the night light\n\t\t\t\t\t\tin you or your baby's room </p>\n\t\t\t\t\t</header>\n\t\t\t\t\t<center>\n\t\t\t\t\t\t<p style=\"font-size:1.5em; font-weight:bold;\">Baby Room</p>\n\t\t\t\t\t\t<a href=\"/room/baby/led\"><img src=\"images/babylamp.png\" ></a>\n\t\t\t\t\t\t<br><br>\n\t\t\t\t\t\t<p style=\"font-size:1.5em; font-weight:bold;\">Parent Room</p>\n\t\t\t\t\t\t<a href=\"/room/parent/led\"><img src=\"images/parentlamp.jpg\" ></a>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t\t\n\t\t\t\n\t\t\t\n\t    <!-- See if awake or not -->\n\t\t    <section class=\"wrapper style1\">\n\t\t\t\t<div class=\"container\">\n\t\t\t\t\t<header class=\"major\">\n\t\t\t\t\t\t<h2>Sleep check</h2>\n\t\t\t\t\t\t<p>Picture below shows if baby is asleep or not based on amount of movement in the room</p>\n\t\t\t\t\t</header>\n\t\t\t\t\t<center>\n\t\t\t\t\t\t<p>Baby is currently</p>\n\t\t\t\t\t\t<img src='{{payloadbabys.owlpic}}'>\n\t\t\t\t\t\t<p style=\"font-size:1.5em; font-weight:bold;\">{{payloadbabys.babystatus}} </p>\n\t\t\t\t\t</center>\n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t</section>\n\t\t\t\t\t\n\t\t\n\t\t\n\t\t<!-- CTA -->\n\t\t\n\t\t\t<section id=\"cta\" class=\"wrapper style3\">\n\t\t\t\t<h1>Back to Top</h1>\n\t\t\t\t<ul class=\"actions\">\n\t\t\t\t\t<li><a href=\"#\" class=\"button big\">Go</a></li>\n\t\t\t\t</ul>\n\t\t\t</section>\n\t\t\t\n\t\t<!-- Footer -->\n\t\t\t<footer id=\"footer\">\n\t\t\t\t<span class=\"copyright\">\n\t\t\t\t\t&copy; Copyright. All rights reserved. Design by <a href=\"http://www.html5webtemplates.co.uk\">Responsive Web Templates</a>\n\t\t\t\t</span>\n\t\t\t</footer>\n\n\t</body>\n\t\n\t    <script src=\"https://sdemo.mybluemix.net/js/jquery.min.js\"></script>\n\t\t<script src=\"https://sdemo.mybluemix.net/js/jquery.scrolly.min.js\"></script>\n\t\t<script src=\"https://sdemo.mybluemix.net/js/skel.min.js\"></script>\n\t\t<script src=\"https://sdemo.mybluemix.net/js/init.js\"></script>\n</html>","output":"str","x":1088.9999732971191,"y":453.6669855117798,"wires":[["898cc9de.acd408"]]},{"id":"8b9b3d6c.fda3f","type":"http in","z":"deb0d57.1c46528","name":"home page","url":"/","method":"get","upload":false,"swaggerDoc":"","x":671.9999237060547,"y":519.6669855117798,"wires":[["b0e9d926.ccbd48"]]},{"id":"6dd8a269.77286c","type":"function","z":"deb0d57.1c46528","name":"global.set.motion/temp/status","func":"parenttemp = msg.payload.d.parenttemp;\nparentmotion = msg.payload.d.parentmotion;\nbabytemp = msg.payload.d.babytemp;\nbabymotion = msg.payload.d.babymotion;\nglobal.set('parentmotion',parentmotion);\nglobal.set('parenttemp',parenttemp);\nglobal.set('babytemp',babytemp);\nglobal.set('babymotion',babymotion);\nif (babymotion >= 50) {\n    global.set('babystatus', 'awake');\n}\nif (babymotion <= 50) {\n    global.set('babystatus', 'asleep');\n}","outputs":1,"noerr":0,"x":612.9999160766602,"y":456.26678943634033,"wires":[["b0e9d926.ccbd48"]]},{"id":"73161116.b0bec","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1864.9999732971191,"y":449.6669969558716,"wires":[]},{"id":"4c53a8b2.3b68e8","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1926.9999694824219,"y":315.0000982284546,"wires":[]},{"id":"ebd4a824.82c398","type":"function","z":"deb0d57.1c46528","name":"declare graph values for baby room","func":"var msg = {};\nvar msg1 = {};\n\nmsg.payload=global.get('babytemp');\nmsg.topic='Temperature';\nmsg1.payload=global.get('babymotion');\nmsg1.topic='Motion';\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":600.1666641235352,"y":111.3335828781128,"wires":[["bfb82c47.141ed"],["bfb82c47.141ed"]]},{"id":"bfb82c47.141ed","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"21228de5.093572","order":1,"width":"0","height":"0","label":"Baby Motion Temperature Line Chart","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":957.1000137329102,"y":111.8669786453247,"wires":[[],[]]},{"id":"7aaeadb4.463944","type":"function","z":"deb0d57.1c46528","name":"declare graph values for parent room","func":"var msg = {};\nvar msg1 = {};\n\nmsg.payload=global.get('parenttemp');\nmsg.topic='Temperature';\nmsg1.payload=global.get('parentmotion');\nmsg1.topic='Motion';\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":608.9999885559082,"y":174.6668825149536,"wires":[["b8424df8.25ab8"],["b8424df8.25ab8"]]},{"id":"b8424df8.25ab8","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"21228de5.093572","order":1,"width":"0","height":"0","label":"Parent Motion Temperature Line Chart","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":963.9999771118164,"y":169.6668827533722,"wires":[[],[]]},{"id":"bf32eafa.6cfa78","type":"twilio out","z":"deb0d57.1c46528","service":"_ext_","twilio":"8e715e43.fd9c3","from":"","number":"+6592257223","name":"","x":824.1001167297363,"y":346.26698303222656,"wires":[]},{"id":"d3d52f70.755c7","type":"function","z":"deb0d57.1c46528","name":"send temp msg","func":"parenttemp = global.get('parenttemp');\nbabytemp = global.get('babytemp');\n\nif (parenttemp >= 30){\nmsg.payload=\"Parent Room temperature at \"+ parenttemp+\n\" is too high\"\nreturn msg;\n}\nif (parenttemp <= 25){\nmsg.payload=\"Parent Room temperature at \"+ parenttemp+\n\" is too low\"\nreturn msg;\n}\nif (babytemp >= 30){\nmsg.payload=\"Baby Room temperature at \"+ babytemp+\n\" is too high\"\nreturn msg;\n}\nif (babytemp <= 25){\nmsg.payload=\"Baby Room temperature at \"+ babytemp+\n\" is too low\"\nreturn msg;\n}","outputs":1,"noerr":0,"x":602.3999900817871,"y":347.6668863296509,"wires":[["bf32eafa.6cfa78","2077efc4.db6eb"]]},{"id":"c998338e.cae5a","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"ledid-SLEEPDEEP","deviceType":"led-SLEEPDEEP","eventCommandType":"stopstartparentled","format":"json","data":"{}","qos":"1","name":"My Raspberry Pi Gateway","service":"registered","x":1910.9999694824219,"y":216.66684436798096,"wires":[]},{"id":"bab6518d.c182a","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":280,"wires":[]},{"id":"3b513e70.4a1822","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-SLEEPDEEP","applicationId":"","deviceType":"gw-SLEEPDEEP","eventType":"+","commandType":"","format":"json","name":"My Raspberry Pi Gateway","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":341.99996185302734,"y":346.66688537597656,"wires":[["ebd4a824.82c398","7aaeadb4.463944","6dd8a269.77286c","bab6518d.c182a","d3d52f70.755c7"]]},{"id":"2077efc4.db6eb","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":808.9999694824219,"y":409.6668863296509,"wires":[]},{"id":"dd5bc410.ded908","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":260,"wires":[["d3d52f70.755c7"]]},{"id":"21228de5.093572","type":"ui_group","z":"","name":"Baby Motion Graph","tab":"fa882c6.7cc07d","disp":true,"width":"24","collapse":false},{"id":"8e715e43.fd9c3","type":"twilio-api","z":"","sid":"AC3bac9ceff25056af0f2bb2a116eb13d6","from":"+19413000772","name":""},{"id":"fa882c6.7cc07d","type":"ui_tab","z":"deb0d57.1c46528","name":"Motion Graphs","icon":"dashboard"}]
